<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>security首页</title>
</head>
<body>
<h1>Welcome!你好，世界</h1>
你好呀，成功登录进来了
<p>点击 <a th:href="@{/r/getUser?username=%E7%94%A8%E6%88%B71}">/r/getUser?username=%E7%94%A8%E6%88%B71</a></p>

<p>点击 <a th:href="@{/logout}">我</a> 退出登陆页面</p>
<p>点击 <a th:href="@{/}">我</a> 回到首页</p>
</body>
</html>